body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 450px;
    height: 850px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    width: auto;
    height: 200px;
    object-fit: cover;
}

h2, h3 {
    color: #052054;
    margin: 10px 0 20px;
}

p {
    color: #052054;
    font-size: 14px;
}

.social-buttons {
    margin-top: 30px;
}

.social-buttons a {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #052054;
    padding: 15px;
    border-radius: 15px;
    transition: background-color 0.3s;
    margin: 15px auto;
    width: 300px;
    height: auto;
    text-align: center;
    font-size: 20px;
}


.social-buttons a img {
    vertical-align: middle;
    margin-right: 10px;
    width: 20px;
    height: auto;
}

footer {
    margin: 70px 0;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    clear: both;
}

.sub-titulo {
    color: #173356;
    font-size: 18px;
    width: 330px;
    text-align: left;
    margin: 15px auto;
    border-bottom: 2px solid #173356;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #124a67;
    color: white;
    border: none;
    border-radius: 5px;
}

.link-footer {
    text-decoration: none;
    color: #052054;
    font-weight: bold;
    font-size: 18px;
}